<div class="container">
    <h2>Register</h2>
  
    <form [formGroup]="form" (ngSubmit)="register()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" inputmode="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" inputmode="tel" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
  
      <button mat-flat-button color="primary" type="submit">Register</button>
    </form>
  </div>